{% extends 'layout.html' %}

{% block content %}
<div class="page-header">
    <h1>Гарантия и сервис</h1>
</div>

<div class="content-section">
    <div class="content-block">
        <h2>Гарантийное обслуживание</h2>
        <p>Все товары, продаваемые в нашем интернет-магазине "ТехноМаркет", имеют официальную гарантию производителя. Срок гарантии указан в карточке товара и в сопроводительных документах.</p>
        
        <h3>Стандартные условия гарантии:</h3>
        <ul>
            <li>Смартфоны и планшеты - 12 месяцев</li>
            <li>Ноутбуки и компьютеры - 24 месяца</li>
            <li>Телевизоры - 36 месяцев</li>
            <li>Бытовая техника - 24 месяца</li>
            <li>Аксессуары - 6 месяцев</li>
        </ul>
        
        <p>Гарантия распространяется на заводские дефекты и не распространяется на случаи неправильной эксплуатации устройства, механические повреждения, попадание влаги и другие случаи, указанные в гарантийном талоне.</p>
    </div>
    
    <div class="content-block">
        <h2>Как воспользоваться гарантией</h2>
        <p>Чтобы воспользоваться гарантийным обслуживанием, необходимо:</p>
        <ol>
            <li>Обратиться в наш сервисный центр или авторизованный сервисный центр производителя.</li>
            <li>Предоставить товар в полной комплектации.</li>
            <li>Предъявить гарантийный талон и документ, подтверждающий покупку (чек, квитанция).</li>
        </ol>
        
        <p><strong>Адрес нашего сервисного центра:</strong><br>
        г. Москва, ул. Техническая, д. 42<br>
        Время работы: 9:00 - 20:00 (Пн-Вс)<br>
        Телефон: +7 (495) 123-45-67</p>
    </div>
    
    <div class="content-block">
        <h2>Дополнительная гарантия</h2>
        <p>Мы предлагаем приобрести расширенную гарантию на товары, которая включает:</p>
        <ul>
            <li>Увеличение срока гарантии до 36 месяцев</li>
            <li>Возможность бесплатного ремонта при случайных повреждениях</li>
            <li>Экспресс-замену устройства на время ремонта</li>
            <li>Выезд специалиста на дом для диагностики крупной бытовой техники</li>
        </ul>
        
        <p>Стоимость расширенной гарантии составляет 10-15% от стоимости товара. Подробности можно уточнить у менеджера при оформлении заказа.</p>
    </div>
    
    <div class="content-block">
        <h2>Сервисное обслуживание</h2>
        <p>Наш сервисный центр предлагает следующие услуги:</p>
        <ul>
            <li>Диагностика неисправностей</li>
            <li>Ремонт смартфонов, планшетов, ноутбуков</li>
            <li>Ремонт телевизоров и бытовой техники</li>
            <li>Установка и настройка программного обеспечения</li>
            <li>Чистка и профилактика техники</li>
        </ul>
        
        <p>Мы гарантируем высокое качество работ и использование только оригинальных запчастей.</p>
    </div>
</div>
{% endblock %} 